In [1]:
class Smartphone:
    """
    Smartphone Class
    """
    smartphone_count = 0

    def __init__(self, brand, informations):
        self._brand = brand
        self._informations = informations
        Smartphone.smartphone_count += 1

    def __str__(self):
        return f'str : {self._brand} - {self._informations}'

    def __repr__(self):
        return f'repr : {self._brand} - {self._informations}'

    def detail_info(self):
        print(f'Current Id : {id(self)}')
        print(f"Smartphone Detail Info : {self._brand} {self._informations.get('price')}")

    def get_price(self):
        return f"Before Smartphone Price -> brand : {self._brand}, price : {self._informations.get('price')}"

    def get_price_culc(self):
        return f"After Smartphone Price -> brand : {self._brand}, price : {self._informations.get('price') * Smartphone.price_per_raise}"

    def raise_price(cls, per):
        if per <= 1:
            print('Please Enter 1 or More')
            return
        cls.price_per_raise = per
        return 'Succeed! price increased.'

    @staticmethod
    def is_iphone(inst):
        if inst._brand == 'Iphone':
            return f'OK! This Smartphone is {inst._brand}.'

        return 'Sorry. This Smartphone is not Iphone.'


Smartphone1 = Smartphone('Iphone', {'color': 'White', 'price': 10000})
Smartphone2 = Smartphone('Galaxy', {'color': 'Black', 'price': 8000})
# 기본 정보
print(Smartphone1)
print(Smartphone2)

Smartphone1.detail_info()
Smartphone2.detail_info()

print(Smartphone1.get_price())
print(Smartphone2.get_price())

# 가격 인상(클래스 메소드 미사용)
# 이렇게 직접 접근은 좋지 않아요
Smartphone.price_per_raise = 1.2

# 가격 정보
print(Smartphone1.get_price_culc())
print(Smartphone2.get_price_culc())

# 가격 인상
Smartphone.raise_price(Smartphone1,1.6)

# 가격 정보
print(Smartphone1.get_price_culc())
print(Smartphone2.get_price_culc())


def is_iphone(inst):
    if inst._brand == 'Iphone':
        return f'OK! This Smartphone is {inst._brand}.'
    return 'Sorry. This Smartphone is not Iphone.'


print(is_iphone(Smartphone2))

print('Static : ', Smartphone.is_iphone(Smartphone1))
print('Static : ', Smartphone.is_iphone(Smartphone2))

str : Iphone - {'color': 'White', 'price': 10000}
str : Galaxy - {'color': 'Black', 'price': 8000}
Current Id : 2519384107712
Smartphone Detail Info : Iphone 10000
Current Id : 2519384107904
Smartphone Detail Info : Galaxy 8000
Before Smartphone Price -> brand : Iphone, price : 10000
Before Smartphone Price -> brand : Galaxy, price : 8000
After Smartphone Price -> brand : Iphone, price : 12000.0
After Smartphone Price -> brand : Galaxy, price : 9600.0
After Smartphone Price -> brand : Iphone, price : 12000.0
After Smartphone Price -> brand : Galaxy, price : 9600.0
Sorry. This Smartphone is not Iphone.
Static :  OK! This Smartphone is Iphone.
Static :  Sorry. This Smartphone is not Iphone.

In [2]:
class point:
    def __init__(self, x, y):
        self.x = x
        self.y = y

    def dispc(self):
        return ('(' + str(self.x) + ',' + str(self.y) + ')')

    def __lt__(self, other):
        return ((self.x == other.x) and (self.y == other.y))
    
p=point(2,3)
q=point(2,3)
    
print(p.__lt__(q))

True

In [4]:
class Fruit:
    
    price = 100
    
    def __init__(self, name, color):
        self.name = name
        self.color = color
    
    def __str__(self):
        
        return f'str : {self.name} - {self.color}'
        
    def show(self):
        print("Fruit is", self.name, "and Color is and price is", self.color, self.price)


obj = Fruit("Apple", "red")

banana = Fruit("Banana", "yellow")

print(banana)


obj.name = "strawberry"
obj.show()

str : Banana - yellow
Fruit is strawberry and Color is and price is red 100

In [5]:
class Smartphone:
    """
    Smartphone Class
    """
    Smartphone_count = 0
    
    def __init__(self, brand, informations):
        self._brand = brand
        self._informations = informations
        Smartphone.Smartphone_count += 1

    def __str__(self):
        return f'str : {self._brand} - {self._informations}'

    def __repr__(self):
        return f'repr : {self._brand} - {self._informations}'

    def detail_info(self):
        print(f'Current Id : {id(self)}')
        print(f'Smartphone Detail Info : {self._brand} {self._informations["price"]}')

    def get_price(self):
        return f'Before Smartphone Price -> brand : {self._brand}, price : {self._informations["price"]}'

    def get_price_culc(self):
        return f'After Smartphone Price -> brand : {self._brand}, price : {self._informations["price"] * Smartphone.price_per_raise}'

    @classmethod
    def raise_price(cls, per):
        if per <= 1:
            print('Please Enter 1 or More')
            return
        cls.price_per_raise = per
        return 'Succeed! price increased.'

    @staticmethod
    def is_iphone(inst):
        if inst._brand == 'Iphone':
            return f'OK! This Smartphone is {inst._brand}.'
        return 'Sorry. This Smartphone is not Iphone.'
    
    
Smartphone1 = Smartphone('Iphone', {'color' : 'White', 'price': 10000})
Smartphone2 = Smartphone('Galaxy', {'color' : 'Black', 'price': 8000})
# 기본 정보
print(Smartphone1)
print(Smartphone2)

#Smartphone1.information()
#Smartphone2.information()

print(Smartphone1.get_price())
print(Smartphone2.get_price())

# 가격 인상(클래스 메소드 미사용)
# 이렇게 직접 접근은 좋지 않아요
Smartphone.price_per_raise = 1.2

# 가격 정보
print(Smartphone1.get_price_culc())
print(Smartphone2.get_price_culc())

# 가격 인상
Smartphone.raise_price(1.6)

# 가격 정보
print(Smartphone1.get_price_culc())
print(Smartphone2.get_price_culc())

def is_iphone(inst):
    if inst._brand == 'Iphone':
        return f'OK! This Smartphone is {inst._brand}.'
    return 'Sorry. This Smartphone is not Iphone.'

print(is_iphone(Smartphone2))

print('Static : ', Smartphone.is_iphone(Smartphone1))
print('Static : ', Smartphone.is_iphone(Smartphone2))

str : Iphone - {'color': 'White', 'price': 10000}
str : Galaxy - {'color': 'Black', 'price': 8000}
Before Smartphone Price -> brand : Iphone, price : 10000
Before Smartphone Price -> brand : Galaxy, price : 8000
After Smartphone Price -> brand : Iphone, price : 12000.0
After Smartphone Price -> brand : Galaxy, price : 9600.0
After Smartphone Price -> brand : Iphone, price : 16000.0
After Smartphone Price -> brand : Galaxy, price : 12800.0
Sorry. This Smartphone is not Iphone.
Static :  OK! This Smartphone is Iphone.
Static :  Sorry. This Smartphone is not Iphone.

In [28]:
# r:읽기전용, W: 쓰기전용(기존것은 사라지고 새로 작성(덮어쓰기)), r+:읽고 쓰는 것을 동시에, a: append(기존 것을삭제하지 않고 추가)

f = open('work.txt', 'r+')
f.write("hello world")
f.close()

f = open('work.txt', 'r+')
read_data = f.read()
print(read_data)

f.close()

UnicodeDecodeError: 'cp949' codec can't decode byte 0xec in position 16: illegal multibyte sequence

In [26]:
#with로 열게 되면 중간에 파일을 잃을 걱정이 없다

with open('work.txt','r+') as f:
    read_data =f.read()
    
f.close()

UnicodeDecodeError: 'cp949' codec can't decode byte 0xec in position 16: illegal multibyte sequence

In [29]:
daum = 89000

naver = 751000

total = daum * 100 + naver * 20

print(total)

23920000

In [30]:
f = 50

c = (f-32) / 1.8

print(c)

10.0

In [31]:
print("pizza\n" * 10)

pizza
pizza
pizza
pizza
pizza
pizza
pizza
pizza
pizza
pizza

In [32]:
monday_start_price = 1000000

monday_end_price = monday_start_price * 0.7

tuesday_start_price = monday_end_price

tuesday_end_price = tuesday_start_price * 0.7

wednesday_start_price = tuesday_end_price

wednesday_end_price = wednesday_start_price * 0.7

print(wednesday_end_price)

342999.99999999994

In [33]:
s = 'Daum KaKao'

s = s[5:] + ' ' + s[0:4]

s

'KaKao Daum'

In [34]:
 a = "Hello world"

a = 'hi ' + a[6:]

a

'hi world'

In [35]:
x = 'abcdef'

x = x[1:]+x[0]

x

'bcdefa'

In [36]:
naver_closing_price = [474500, 461500, 501000, 500500, 488500]

naver_closing_price

[474500, 461500, 501000, 500500, 488500]

In [37]:
max_price = max(naver_closing_price)

print(max_price)

501000

In [39]:
min_price = min(naver_closing_price)

print(min_price)

461500

In [40]:
naver_closing_price = [474500, 461500, 501000, 500500, 488500]

max_price = max(naver_closing_price)

min_price = min(naver_closing_price)

print("가격차: ", max_price - min_price)

가격차:  39500

In [43]:
print("수요일 종가: ", naver_closing_price[2])

수요일 종가:  501000

In [44]:
naver_closing_price2 = {'09/07':474500, '09/08':461500, '09/09':501000, '09/10': 500500, '09/11':488500}

naver_closing_price2

{'09/07': 474500,
 '09/08': 461500,
 '09/09': 501000,
 '09/10': 500500,
 '09/11': 488500}

In [45]:
print(naver_closing_price2['09/09'])

501000

In [53]:
for i in range(5):
    print('*', end='')

*****

In [54]:
for j in range(4):
    for i in range(5):

        print('*', end='')

    print("")

*****
*****
*****
*****

In [55]:
for j in range(5):

    for i in range(j+1):

        print('*', end='')

    print("")

*
**
***
****
*****

In [56]:
for j in range(5):

    for i in range(5-j):

        print('*', end='')

    print("")

*****
****
***
**
*

In [64]:
for j in range(5):

    for i in range(4-j):

        print(' ', end='')

    for i in range(j+1):

        print('*', end='')

    print("")

    *
   **
  ***
 ****
*****

In [65]:
for j in range(5):

    for i in range(j):

        print(' ', end='')

    for i in range(5-j):

        print('*', end='')
    
    print("")

*****
 ****
  ***
   **
    *

In [66]:
for j in range(5):

    for i in range(j):

        print(' ', end='')

    for i in range(2*(5-j)-1):

        print('*', end='')

    print("")

*********
 *******
  *****
   ***
    *

In [73]:
apart = [[101, 102, 103, 104],[201, 202, 203, 204],[301, 302, 302, 303], [401, 402, 403, 404]]

arrears = [101, 203, 301, 404]

for floor in apart:

    for house in floor:

        if house in arrears:

            continue

        else:

            print("Newspaper delivery: ", house)

Newspaper delivery:  102
Newspaper delivery:  103
Newspaper delivery:  104
Newspaper delivery:  201
Newspaper delivery:  202
Newspaper delivery:  204
Newspaper delivery:  302
Newspaper delivery:  302
Newspaper delivery:  303
Newspaper delivery:  401
Newspaper delivery:  402
Newspaper delivery:  403

In [74]:
def myaverage(a,b):

    return (a+b)/2

myaverage(3,4)

3.5

In [78]:
def get_max_min(data_list):

    max_val = max(data_list)

    min_val = min(data_list)

    return (max_val, min_val)

max_val, min_val = get_max_min([1, 2, 3, 4, 5])

print(max_val)

print(min_val)

5
1

In [90]:
def cal_bmi(weight, height):

    height = height * 0.01

    bmi = weight / (height * height)

    if bmi < 18.5:

        print("마른체형")

    elif 18.5 <= bmi < 25.0:

        print("표준")

    elif 25.0 <= bmi < 30.0:

        print("비만")

    else:

        print("고도비만")

        
cal_bmi(63, 170)
cal_bmi(79, 160)

표준
고도비만

In [97]:
def get_triangle_area(width, height):

    return width * height / 2

get_triangle_area(10, 5)

25.0

In [99]:
def add_start_to_end(start, end):

    return sum(range(start, end+1))

add_start_to_end(1,10)

55

In [100]:
def get_abbr(data_list):

    result = []

    for x in data_list:

        result.append(x[:3])

    return result

get_abbr(['Seoul', 'Daegu', 'Kwangju', 'Jeju'])

['Seo', 'Dae', 'Kwa', 'Jej']

In [111]:
def exam01():
    i,sum = 0,0
    while (i<100):
        i += 1
        sum += i
        if i>=100:
            break
    print(sum) #5050

def exam02():
    numbers = [1,2,3,4,5,6,7]
    total = 0

    for n in numbers:
        if( n%2 ) ==0:
            total += n
    print("Total:",total) #12


def exam03():
    score = int(input('성적을 입력하세요:'))

    if score >=90:
        print("A 입니다.")
    elif score >= 80:
        print("B 입니다.")
    elif score >= 70:
        print("C 입니다.")
    elif score >= 60:
        print("D 입니다.")
    else:
        print("F 입니다.")

def exam04():
    a,sum = 0,0
    while(a<10):
        a +=1
        if(a%2 == 1):
            continue
        sum += a
    print(sum) # 30


def exam05():
    sum = 0
    for  i in range(1,10):
        sum += i
    print(i,sum) # 9 45


if __name__ == '__main__':

    exam01()
    exam02()
    exam03()
    exam04()
    exam05()

5050
Total: 12

성적을 입력하세요: 100

A 입니다.
30
9 45

In [121]:
class Person:
    def __init__(self,name,age,gender):
        self.name=name
        self.age=age
        self.gender=gender
        
    def printme(self):
        print(self.name, self.age)
        
person=Person('Lim',25,True)

person.printme()

Lim 25