In [1]:
#01
print('Hello World')

Hello World

In [2]:
#02
print("Mary's cosmetics")

Mary's cosmetics

In [3]:
#03
print('신씨가 소리를 질렀다. "도둑이야"')

신씨가 소리를 질렀다. "도둑이야"

In [4]:
#04
print('"C:\Windows"')

"C:\Windows"

In [5]:
#05
print("안녕하세요.\n만나서\t\t반갑습니다.")

안녕하세요.
만나서		반갑습니다.

In [6]:
#06
print ("오늘은", "일요일")

오늘은 일요일

In [24]:
#07
print("naver","kakao","sk","samsung", sep=';')

naver;kakao;sk;samsung

In [25]:
#08
print("naver","kakao","sk","samsung", sep='/')

naver/kakao/sk/samsung

In [12]:
#09
print("first", end='');print("second")

firstsecond

In [26]:
#10
i=5/3
print(i)

1.6666666666666667

In [66]:
#11
삼성전자 = 50000
총평가금액 = 삼성전자 * 10
print(총평가금액)

500000
500000

In [69]:
#12
시가총액 = 298000000000000
현재가 = 5000
PER = 15.79
print(시가총액,현재가,PER)

298000000000000 5000 15.79

In [52]:
#13
s="hello"
t="python"
print(s+'!',t)

hello! python

In [40]:
#14
print(2+2*3)

8

In [53]:
#15
a = 128
print (type(a))
a="132"
print(type(a))

<class 'int'>
<class 'str'>

In [59]:
#16
num_str = "720"
num_int=int(num_str)
print(num_int)

720

In [58]:
#17
num = 100
num_str=str(num)
print(num_str)

100

In [61]:
#18
f_str="15.79"
f_str=float(f_str)
print(f_str)

15.79

In [63]:
#19
years="2020"
print(int(years)-3)
print(int(years)-2)
print(int(years)-1)

2017
2018
2019

In [71]:
#20
월=48584
총금액=월*3
print(총금액)

145752

In [73]:
#21
letter='Python'
lang='Python'
print(lang[0],lang[2])

P t

In [77]:
#22
license_plate = "24가 2210"
print(license_plate[-4:])

2210

In [78]:
#23
string = "홀짝홀짝홀짝"
print(string[::2])

홀홀홀

In [79]:
#24
string='PYTHON'
print(string[::-1])

NOHTYP

In [83]:
#25
phone_number = "010-1111-2222"
phone_number1=phone_number.replace('-',' ')
print(phone_number1)

010 1111 2222

In [84]:
#26
phone_number = "010-1111-2222"
phone_number1=phone_number.replace('-','')
print(phone_number1)

01011112222

In [86]:
#27
url = "http://sharebook.kr"
url_split=url.split('.')
print(url_split[-1])

kr

In [88]:
#28
lang = 'python'
lang[0] = 'P' 
print(lang)

TypeError: 'str' object does not support item assignment

In [30]:
#29
string = 'abcdfe2a354a32a'
string=string.replace('a','A')
print(string)

Abcdfe2A354A32A

In [31]:
#30
string = 'abcd'
string=string.replace('b','B')
print(string)

aBcd

In [89]:
#31
a="3"
b="4"
print(a+b)

34

In [47]:
#32
print('HI'*3)

HIHIHI

In [90]:
#33
print("-"*80)

--------------------------------------------------------------------------------

In [95]:
#34
t1='python'
t2='java'
t3=t1+' '+t2+' '
print(t3*4)

python java python java python java python java

In [96]:
#35
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: %s, 나이: %d" %(name1,age1))
print("이름: %s, 나이: %d" %(name2,age2))

이름: 김민수, 나이: 10
이름: 이철희, 나이: 13

In [97]:
#36
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: {} 나이: {}".format(name1, age1))
print("이름: {} 나이: {}".format(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [98]:
#37
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print(f"이름: {name1} 나이: {age1}")
print(f"이름: {name2} 나이: {age2}")

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [103]:
#38
상장주식수 = "5,969,782,550"
split=상장주식수.replace(",","")
print(split)

5969782550

In [106]:
#39
분기 = "2020/03(E) (IFRS연결)"
print(분기[:7])

2020/03

In [107]:
#40
data = "   삼성전자    "
data1 = data.strip()
print(data1)

삼성전자

In [108]:
#41
ticker = "btc_krw"
ticker1=ticker.upper()
print(ticker1)

BTC_KRW

In [109]:
#42
ticker = "BTC_KRW"
ticker2=ticker.lower()
print(ticker2)

btc_krw

In [111]:
#43
a = "hello"
a = a.capitalize()
print(a)

Hello

In [112]:
#44
file_name = "보고서.xlsx"
file_name.endswith("xlsx")

True

In [113]:
#45
file_name = "보고서.xlsx"
file_name.endswith(("xlsx", "xls"))

True

In [114]:
#46
file_name = "2020_보고서.xlsx"
file_name.startswith("2020")

True

In [115]:
#47
a = "hello world"
a.split()

['hello', 'world']

In [119]:
#48
ticker = "btc_krw"
ticker.split("_")

['btc', 'krw']

In [122]:
#49
date = "2020-05-01"
date.split("-")

['2020', '05', '01']

In [125]:
#50
data = "039490     "
data = data.rstrip()
print(data)

039490

In [128]:
#51
movie_rank = ["닥터 스트레인지", "스플릿", "럭키"]

In [127]:
#52
movie_rank = ["닥터 스트레인지", "스플릿", "럭키"]
movie_rank.append("배트맨")
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [129]:
#53
movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']
movie_rank.insert(1, "슈퍼맨")
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [130]:
#54
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
del movie_rank[3]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [131]:
#55
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
del movie_rank[2]
del movie_rank[2]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨']

In [132]:
#56
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
langs = lang1 + lang2
print(langs)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [133]:
#57
nums = [1, 2, 3, 4, 5, 6, 7]
print("max: ", max(nums))
print("min: ", min(nums))

max:  7
min:  1

In [134]:
#58
nums = [1, 2, 3, 4, 5]
print(sum(nums))

15

In [135]:
#59
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
print(len(cook))

12

In [136]:
#60
nums = [1, 2, 3, 4, 5]
average = sum(nums) / len(nums)
print(average)

3.0

In [137]:
#61
price = ['20180728', 100, 130, 140, 150, 160, 170]
print(price[1:])

[100, 130, 140, 150, 160, 170]

In [138]:
#62
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[::2])

[1, 3, 5, 7, 9]

In [139]:
#63
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[1::2])

[2, 4, 6, 8, 10]

In [140]:
#64
nums = [1, 2, 3, 4, 5]
print(nums[::-1])

[5, 4, 3, 2, 1]

In [141]:
#65
interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[0], interest[2])

삼성전자 Naver

In [142]:
#66
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print(" ".join(interest))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [143]:
#67
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("/".join(interest))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [144]:
#68
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("\n".join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [145]:
#69
string = "삼성전자/LG전자/Naver"
interest = string.split("/")
print(interest)

['삼성전자', 'LG전자', 'Naver']

In [147]:
#70
data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
print(data)

# or

data = [2, 4, 3, 1, 5, 10, 9]
data2 = sorted(data)
print(data2)

[1, 2, 3, 4, 5, 9, 10]
[1, 2, 3, 4, 5, 9, 10]

In [149]:
#71
my_variable = ()
print(type(my_variable))

<class 'tuple'>

In [151]:
#72
movie_rank = ("닥터 스트레인지", "스플릿", "럭키")

In [156]:
#73
my_tuple = (1)
print(type(my_tuple))
my_tuple=(1, )
print(type(my_tuple))

<class 'int'>
<class 'tuple'>

In [157]:
#74
t = (1, 2, 3)
t[0] = 'a'

TypeError: 'tuple' object does not support item assignment

In [159]:
#75
t = 1, 2, 3, 4
print(type(my_tuple))

<class 'tuple'>

In [161]:
#76
t = ('A', 'b', 'c')

In [163]:
#77
interest = ('삼성전자', 'LG전자', 'SK Hynix')
data = list(interest)
print(data)

['삼성전자', 'LG전자', 'SK Hynix']

In [164]:
#78
interest = ['삼성전자', 'LG전자', 'SK Hynix']
data = tuple(interest)
print(data)

('삼성전자', 'LG전자', 'SK Hynix')

In [165]:
#79
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

apple banana cake

In [166]:
#80
data = tuple(range(2, 100, 2))
print( data )

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

In [168]:
#81
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
*valid_score, _, _= scores
print(valid_score)

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]

In [169]:
#82
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
a, b, *valid_score = scores
print(valid_score)

[8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [170]:
#83
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
a, *valid_score, b = scores
print(valid_score)

[8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8]

In [171]:
#84
temp={}

In [172]:
#85
ice = {"메로나": 1000, "폴라포": 1200, "빵빠레": 1800}
print(ice)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}

In [173]:
#86
ice = {"메로나": 1000, "폴라포": 1200, "빵빠레": 1800}
ice["죠스바"] = 1200
ice["월드콘"] = 1500
print(ice)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [174]:
#87
ice = {'메로나': 1000,'폴로포': 1200,'빵빠레': 1800,'죠스바': 1200,'월드콘': 1500}
print("메로나 가격: ", ice["메로나"])

메로나 가격:  1000

In [177]:
#88
ice = {'메로나': 1000,'폴로포': 1200,'빵빠레': 1800,'죠스바': 1200,'월드콘': 1500}
ice["메로나"] = 1300
print(ice)

{'메로나': 1300, '폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [178]:
#89
ice = {'메로나': 1000,'폴로포': 1200,'빵빠레': 1800,'죠스바': 1200,'월드콘': 1500}
del ice["메로나"]
print(ice)

{'폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [179]:
#90
icecream = {'폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
icecream['누가바']

KeyError: '누가바'

In [180]:
#91
inventory = {"메로나": [300, 20], "비비빅": [400, 3], "죠스바": [250, 100]}
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}

In [181]:
#92
inventory = {"메로나": [300, 20], "비비빅": [400, 3], "죠스바": [250, 100]}
print(inventory["메로나"][0], "원")

300 원

In [182]:
#93
inventory = {"메로나": [300, 20], "비비빅": [400, 3], "죠스바": [250, 100]}
print(inventory["메로나"][1], "개")

20 개

In [183]:
#94
inventory = {"메로나": [300, 20], "비비빅": [400, 3], "죠스바": [250, 100]}
inventory["월드콘"] = [500, 7]
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '월드콘': [500, 7]}

In [184]:
#95
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
ice = list(icecream.keys())
print(ice)

['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나']

In [186]:
#96
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
price = list(icecream.values())
print(price)

[1200, 1200, 1800, 1500, 1000]

In [187]:
#97
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
print(sum(icecream.values()))

6700

In [188]:
#98
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}
icecream.update(new_product)
print(icecream)

{'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000, '팥빙수': 2700, '아맛나': 1000}

In [189]:
#99
keys = ("apple", "pear", "peach")
vals = (300, 250, 400)
result = dict(zip(keys, vals))
print(result)

{'apple': 300, 'pear': 250, 'peach': 400}

In [190]:
#100
date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]
close_table = dict(zip(date, close_price))
print(close_table)

{'09/05': 10500, '09/06': 10300, '09/07': 10100, '09/08': 10800, '09/09': 11000}

In [191]:
#102
print(3==5)

False

In [193]:
#103
print(3<5)

True

In [194]:
#104
x = 4
print(1 < x < 5)

True

In [195]:
#105
print ((3 == 3) and (4 != 3))

True

In [196]:
#106
print(3=>4)

SyntaxError: invalid syntax (<ipython-input-196-a924e601f36f>, line 2)

In [199]:
#107
if 4 < 3:
    print("Hello World")

In [200]:
#108
if 4 < 3:
    print("Hello World.")
else:
    print("Hi, there.")

Hi, there.

In [201]:
#109
if True :
    print ("1")
    print ("2")
else :
    print("3")
print("4")

1
2
4

In [202]:
#110
if True :
    if False:
        print("1")
        print("2")
    else:
        print("3")
else :
    print("4")
print("5")

3
5

In [203]:
#111
user = input("입력:")
print(user * 2)

입력: 안녕하세여

안녕하세여안녕하세여

In [204]:
#112
user = input("숫자를 입력하세요: ")
print(10 + int(user))

숫자를 입력하세요:  2

12

In [206]:
#113
user = input("")
if int(user) % 2 == 0:
    print("짝수")
else:
    print("홀수")

 3

홀수

In [207]:
#114
user = input("입력값: ")
num = 20 + int(user)
if num > 255:
    print(255)
else:
    print(num)

입력값:  66

86

In [208]:
#115
user = input("입력값: ")
num = int(user) - 20
if num > 255:
    print(255)
elif num < 0:
    print(0)
else:
    print(num)

입력값:  6

0

In [209]:
#116
time = input("현재시간: ")
if time[-2:] == "00":
    print("정각 입니다.")
else:
    print("정각이 아닙니다.")

현재시간:  12

정각이 아닙니다.

In [210]:
#117
fruit = ["사과", "포도", "홍시"]
user = input("좋아하는 과일은?")
if user in fruit:
    print("정답입니다.")
else:
    print("오답입니다.")

좋아하는 과일은? 멜론

오답입니다.

In [212]:
#118
warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]
item = input("종목먕: ")
if item in warn_investment_list:
    print("투자 경고 종목입니다.")
else:
    print("투자 경고 종목이 아닙니다.")

종목먕:  LG

투자 경고 종목입니다.

In [214]:
#119
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
user = input("제가좋아하는계절은: ")
if user in fruit:
    print("정답입니다.")
else:
    print("오답입니다.")

제가좋아하는계절은:  겨울

오답입니다.

In [215]:
#120
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
user = input("좋아하는 과일은?")
if user in fruit.values():
    print("정답입니다.")
else:
    print("오답입니다.")

좋아하는 과일은? 사과

정답입니다.

In [217]:
#121
user = input("")
if user.islower():
    print(user.upper())
else:
    print(user.lower())

 a

A

In [218]:
#122
score = input("score: ")
score = int(score)
if 81 <= score <= 100:
    print("grade is A")
elif 61 <= score <= 80:
    print("grade is B")
elif 41 <= score <= 60:
    print("grade is C")
elif 21 <= score <= 40:
    print("grade is D")
else:
    print("grade is E")

score:  66

grade is B

In [220]:
#123
환율 = {"달러": 1167, "엔": 1.096, "유로": 1268, "위안": 171}
user = input("입력: ")
num, currency = user.split()
print(float(num) * 환율[currency], "원")

입력:  30000 달러

35010000.0 원

In [221]:
#124
num1 = input("input number1: ")
num2 = input("input number2: ")
num3 = input("input number3: ")
num1 = int(num1)
num2 = int(num2)
num3 = int(num3)

if num1 >= num2 and num1 >= num3:
    print(num1)
elif num2 >= num1 and num2 >= num3:
    print(num2)
else:
    print(num3)

input number1:  5
input number2:  2
input number3:  1

5

In [223]:
#125
number = input("휴대전화 번호 입력: ")
num = number.split("-")[0]
if num == "011":
    com = "SKT"
elif num == "016":
    com = "KT"
elif num == "019":
    com = "LGU"
else:
    com = "알수없음"
print(f"당신은 {com} 사용자입니다.")

휴대전화 번호 입력:  01033652222

당신은 알수없음 사용자입니다.

In [224]:
#126
우편번호 = input("우편번호: ")
우편번호 = 우편번호[:3]
if 우편번호 in ["010", "011", "012"]:
    print("강북구")
elif 우편번호 in ["014", "015", "016"]:
    print("도봉구")
else:
    print("노원구")

우편번호:  013

노원구

In [225]:
#127
주민번호 = input("주민등록번호: ")
주민번호 = 주민번호.split("-")[1]
if 주민번호[0] == "1" or 주민번호[0] == "3":
    print("남자")
else:
    print("여자")

주민등록번호:  333333-255555

여자

In [226]:
#128
주민번호 = input("주민등록번호: ")
뒷자리 = 주민번호.split("-")[1]
if 0 <= int(뒷자리[1:3]) <= 8:
    print("서울입니다.")
else:
    print("서울이 아닙니다.")

주민등록번호:  333333-366666

서울이 아닙니다.

In [227]:
#129
num = input("주민등록번호: ")
계산1 = int(num[0]) * 2 + int(num[1]) * 3 + int(num[2]) * 4 + int(num[3]) * 5 + int(num[4]) * 6 + \
        int(num[5]) * 7 + int(num[7]) * 8 + int(num[8]) * 9 + int(num[9]) * 2 + int(num[10])* 3 + \
        int(num[11])* 4 + int(num[12]) * 5
계산2 = 11 - (계산1 % 11)
계산3 = str(계산2)

if num[-1] == 계산3[-1]:
    print("유효한 주민등록번호입니다.")
else:
    print("유효하지 않은 주민등록번호입니다.")

주민등록번호:  122222-425252

유효하지 않은 주민등록번호입니다.

In [228]:
#130
import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']

변동폭 = float(btc['max_price']) - float(btc['min_price'])
시가 = float(btc['opening_price'])
최고가 = float(btc['max_price'])

if (시가+변동폭) > 최고가:
    print("상승장")
else:
    print("하락장")

상승장

In [229]:
#131
f = ["사과", "귤", "수박"]
for ff in f:
    print(ff)

사과
귤
수박

In [231]:
#132
f = ["사과", "귤", "수박"]
for ff in f:
    print('#####')

#####
#####
#####

In [232]:
#133
for i in ["A", "B", "C"]:
    print(i)

A
B
C

In [233]:
#134
print("출력:", "A")
print("출력:", "B")
print("출력:", "C")

출력: A
출력: B
출력: C

In [234]:
#135
z = "A"
b = z.lower()
print("변환:", b)
z = "B"
b = z.lower()
print("변환:", b)
z = "C"
b = z.lower()
print("변환:", b)

변환: a
변환: b
변환: c

In [235]:
#136
for num in[10,20,30]:
    print(num)

10
20
30

In [236]:
#137
for num in[10,20,30]:
    print(num)

10
20
30

In [237]:
#138
for i in [10, 20, 30]:
    print(i)
    print("-------")

10
-------
20
-------
30
-------

In [238]:
#139
print("++++")
for i in [10, 20, 30]:
    print(i)

++++
10
20
30

In [239]:
#140
for i in[1,2,3,4]:
    print("-------")

-------
-------
-------
-------

In [240]:
#141
list=[100,200,300]
for a in list:
    print(a)

100
200
300

In [243]:
#142
list = ["김밥", "라면", "튀김"]
for menu in list:
    print("오늘의 메뉴:", menu)

오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

In [244]:
#143
list = ["SK하이닉스", "삼성전자", "LG전자"]
for game in list:
    print(len(game))

6
4
4

In [246]:
#144
list = ['dog', 'cat', 'parrot']
for name in list:
    print(name, len(name))

dog 3
cat 3
parrot 6

In [248]:
#145
list = ['dog', 'cat', 'parrot']
for name in list:
    print(name[0])

d
c
p

In [250]:
#146
list = [1, 2, 3]
for gg in list:
    print("3 x", gg)

3 x 1
3 x 2
3 x 3

In [252]:
#147
list = [1, 2, 3]
for gg in list:
    print("3 x {} = {}".format(gg, 3 * gg))

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

In [253]:
#148
list = ["가", "나", "다", "라"]
for H in list[1:]:
    print(H)

나
다
라

In [254]:
#149
list = ["가", "나", "다", "라"]
for H in list[: :2]:
    print(H)

가
다

In [255]:
#150
list = ["가", "나", "다", "라"]
for H in list[: :-1]:
    print(H)

라
다
나
가

In [256]:
#151
list= [3, -20, -3, 44]
for i in list:
    if i < 0:   
        print(i)

-20
-3

In [257]:
#152
list=[3, 100, 23, 44]
for i in list:
    if i % 3 == 0:
        print(i)

3

In [258]:
#153
list=[13, 21, 12, 14, 30, 18]
for n in list:
    if (n < 20) and (n % 3 == 0):
        print(n)

12
18

In [259]:
#154
list = ["I", "study", "python", "language", "!"]
for w in list:
    if len(w) >= 3:
        print(w)

study
python
language

In [260]:
#155
list = ["A", "b", "c", "D"]
for M in list:
    if M.isupper():
        print(M)

A
D

In [261]:
#156
list = ["A", "b", "c", "D"]
for M in list:
    if not M.isupper():
        print(M)

b
c

In [262]:
#157
for j in list:
    print(j[0].upper() + j[1:])

A
B
C
D

In [263]:
#158
list = ['hello.py', 'ex01.py', 'intro.hwp']
for py in list:
    split = py.split(".")
    print(split[0])

hello
ex01
intro

In [264]:
#159
list = ['intra.h', 'intra.c', 'define.h', 'run.py']
for F in list:
    split = F.split(".")
    if split[1] == "h":
        print(F)

intra.h
define.h

In [265]:
#160
list = ['intra.h', 'intra.c', 'define.h', 'run.py']
for F in list:
    split = F.split(".")
    if (split[1] == "h") or (split[1] == "c"):
        print(F)

intra.h
intra.c
define.h

In [266]:
#161
for i in range(100):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [267]:
#162
for x in range(2002, 2051, 4) :
    print (x)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

In [268]:
#163
for num in range(3, 31, 3):
    print (num)

3
6
9
12
15
18
21
24
27
30

In [269]:
#164
for i in range(100):
    print(99 - i)

99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [270]:
#165
for num in range(10) :
    print(num / 10, num)

0.0 0
0.1 1
0.2 2
0.3 3
0.4 4
0.5 5
0.6 6
0.7 7
0.8 8
0.9 9

In [271]:
#166
for i in range(1, 10) :
    print (3, "x", i, " = ", 3 * i)

3 x 1  =  3
3 x 2  =  6
3 x 3  =  9
3 x 4  =  12
3 x 5  =  15
3 x 6  =  18
3 x 7  =  21
3 x 8  =  24
3 x 9  =  27

In [272]:
#167
num = 3
for i in range(1, 10) :
    if i % 2 == 1 :
        print (num, "x", i, " = ", num * i)

3 x 1  =  3
3 x 3  =  9
3 x 5  =  15
3 x 7  =  21
3 x 9  =  27

In [273]:
#168
hab = 0
for i in range(1, 11):
    hab += i
print ("합 :", hab)

합 : 55

In [274]:
#169
hab = 0
for i in range(1, 11, 2):
    hab += i
print ("합 :", hab)

합 : 25

In [275]:
#170
result = 1
for i in range(1, 11) :
    result *= i
print(result)

3628800

In [276]:
#171
price_list = [32100, 32150, 32000, 32500]
for i in range(4):
    print(price_list[i])

32100
32150
32000
32500

In [277]:
#172
price_list = [32100, 32150, 32000, 32500]
for i, data in enumerate(price_list):
    print(i, data)

0 32100
1 32150
2 32000
3 32500

In [278]:
#173
price_list = [32100, 32150, 32000, 32500]
for i in range(len(price_list)):
    print((len(price_list) - 1) - i, price_list[i])

3 32100
2 32150
1 32000
0 32500

In [279]:
#174
price_list = [32100, 32150, 32000, 32500]
for i in range(1, 4):
    print(90 + 10 * i, price_list[i])

100 32150
110 32000
120 32500

In [280]:
#175
my_list = ["가", "나", "다", "라"]
for i in range( len(my_list) - 1 ) :
    print(my_list[i], my_list[i+1])

가 나
나 다
다 라

In [281]:
#176
my_list = ["가", "나", "다", "라","마"]
for i in range( len(my_list) - 2 ):
    print(my_list[i], my_list[i+1], my_list[i+2])

가 나 다
나 다 라
다 라 마

In [282]:
#177
my_list = ["가", "나", "다", "라"]
for i in [2, 1, 0] :
    print(my_list[i+1], my_list[i])

라 다
다 나
나 가

In [283]:
#178
my_list = [100, 200, 400, 800]
for i in [0, 1, 2]:
    print(abs(my_list[i+1] - my_list[i]))

100
200
400

In [284]:
#179
my_list = [100, 200, 400, 800, 1000, 1300]
for i in [1, 2, 3, 4]:
    print(abs(my_list[i-1] + my_list[i] + my_list[i+1]) / 3)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

In [287]:
#180
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]
volatility = []
for i in range(len(low_prices)) :
    volatility.append(high_prices[i] - low_prices[i])
    print(volatility)

[50]
[50, 100]
[50, 100, 30]
[50, 100, 30, 80]
[50, 100, 30, 80, 0]

In [288]:
#181
apart = [ ["101호", "102호"], ["201호", "202호"], ["301호", "302호"] ]

In [289]:
#182
stock = [ ["시가", 100, 200, 300], ["종가", 80, 210, 330] ]

In [290]:
#183
stock = {"시가": [100, 200, 300], "종가": [80, 210, 330] }

In [291]:
#184
stock = {"10/10": [80, 110, 70, 90], "10/11": [210, 230, 190, 200] }

In [294]:
#185
apart = [ [101, 102], [201, 202], [301, 302] ]
for row in apart:
    for col in row:
        print(col, "호")

101 호
102 호
201 호
202 호
301 호
302 호

In [295]:
#186
apart = [ [101, 102], [201, 202], [301, 302] ]
for row in apart[::-1]:
    for col in row:
        print(col, "호")

301 호
302 호
201 호
202 호
101 호
102 호

In [297]:
#187
apart = [ [101, 102], [201, 202], [301, 302] ]
for row in apart[::-1]:
    for col in row[::-1]:
        print(col, "호")

302 호
301 호
202 호
201 호
102 호
101 호

In [299]:
#188
apart = [ [101, 102], [201, 202], [301, 302] ]
for row in apart:
    for col in row:
        print(col, "호")
        print("-" * 5)

101 호
-----
102 호
-----
201 호
-----
202 호
-----
301 호
-----
302 호
-----

In [300]:
#189
apart = [ [101, 102], [201, 202], [301, 302] ]
for row in apart:
    for col in row:
        print(col, "호")
    print("-----")

101 호
102 호
-----
201 호
202 호
-----
301 호
302 호
-----

In [301]:
#190
apart = [ [101, 102], [201, 202], [301, 302] ]
for row in apart:
    for col in row:
        print(col, "호")
print("-" * 5)

101 호
102 호
201 호
202 호
301 호
302 호
-----

In [302]:
#191
data = [[ 2000,  3050,  2050,  1980],[ 7500,  2050,  2050,  1980],[15450, 15050, 15550, 14900]]
for line in data:
    for column in line:
        print(column * 1.00014)

2000.28
3050.427
2050.2870000000003
1980.2772
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
15452.163
15052.107
15552.177
14902.086000000001

In [303]:
#192
for line in data:
    for column in line:
        print(column * 1.00014)
    print("----")

2000.28
3050.427
2050.2870000000003
1980.2772
----
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
----
15452.163
15052.107
15552.177
14902.086000000001
----

In [304]:
#193
result = []
for line in data:
    for column in line:
        result.append(column * 1.00014)
print(result)

[2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772, 15452.163, 15052.107, 15552.177, 14902.086000000001]

In [305]:
#194
result = []
for line in data:
    sub = []
    for column in line:
        sub.append(column * 1.00014)
    result.append(sub)
print(result)

[[2000.28, 3050.427, 2050.2870000000003, 1980.2772], [7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772], [15452.163, 15052.107, 15552.177, 14902.086000000001]]

In [306]:
#195
ohlc = [["open", "high", "low", "close"],[100, 110, 70, 100],[200, 210, 180, 190],[300, 310, 300, 310]]
for row in ohlc[1:]:
    print(row[3])

100
190
310

In [320]:
#196
ohlc = [["open", "high", "low", "close"],[100, 110, 70, 100],[200, 210, 180, 190],[300, 310, 300, 310]]
for row in ohlc[1:]:
    if (row[3] > 150):
        print(row[3])

190
310

In [318]:
#197
ohlc = [["open", "high", "low", "close"],[100, 110, 70, 100],[200, 210, 180, 190],[300, 310, 300, 310]]
for row in ohlc[1:]:
    if (row[3] >= row[0]):
        print(row[3])

100
310

In [317]:
#198
ohlc = [["open", "high", "low", "close"],[100, 110, 70, 100],[200, 210, 180, 190],[300, 310, 300, 310]]
volatility = []
for i in range(1, len(ohlc)):
    volatility.append(ohlc[i][1]-ohlc[i][2])
print(volatility)

[40, 30, 10]

In [314]:
#199
ohlc = [["open", "high", "low", "close"],[100, 110, 70, 100],[200, 210, 180, 190],[300, 310, 300, 310]]
for row in ohlc[1:]:
    if row[3] > row[0]:
        print(row[1]-row[2])

10

In [316]:
#200
ohlc = [["open", "high", "low", "close"],[100, 110, 70, 100],[200, 210, 180, 190],[300, 310, 300, 310]]
profit = 0
for row in ohlc[1:]:
    profit += (row[3] - row[0])
    print(profit)

0
-10
0