In [11]:
#221
def print_reverse(string):
    return(string[::-1])
res =print_reverse("python")
print(res)

#  or

def print_reverse(string):
    res=True
    res=string[2:-1]
    return res
res=print_reverse("KOREA")
print(res)

nohtyp
RE

In [38]:
#222
score_list=[1,2,3]
def print_score(score_list):
    print(sum(score_list)/len(score_list))
print_score ([1, 2, 3])

2.0

In [37]:
#223
my_list=[1,3,2,10,12,11,15]
def print_even(my_list):
    for v in my_list:
        if v % 2 == 0:
            print(v)
print_even ([1, 3, 2, 10, 12, 11, 15])

2
10
12

In [36]:
#224
def print_keys(dic):
    for key in dic.keys():
        print(key,dic[key])
print_keys ({"이름":"김말똥", "나이":30, "성별":0})

이름 김말똥
나이 30
성별 0

In [35]:
#225
my_dict={"10/26":[100,130,100,100],"10/27":[10,12,10,11]}
def print_value_by_key(my_dict,key):
    print(my_dict[key])
print_value_by_key(my_dict,"10/26")

[100, 130, 100, 100]

In [40]:
#226  알아두기
def print_5xn(line):
    num=len(line)//5
    for x in range(num):
        print(line[x*5:x*5+5])
print_5xn("아이엠어보이유알어걸")

아이엠어보
이유알어걸

In [48]:
#227
def print_mxn(line,num):
    num=len(line)//num+1
    for x in range(num):
        print(line[x+num: x*num+num])
print_mxn("아이엠어보이유어걸",3)

이유어
유어걸
어걸

In [59]:
#228
def calc_monthly_salary(annual_pay) :
    monthly_pay = annual_pay / 12
    return monthly_pay
res=calc_monthly_salary(12341256)
print(res)

1028438.0

In [53]:
#229
def my_print(a,b):
    print("왼쪽",a)
    print("오른쪽",b)
    my_print(a=100, b=200)

In [54]:
#230
def my_print(a,b):
    print("왼쪽",a)
    print("오른쪽",b)
    my_print(b=100, a=200)

In [63]:
#231
#전역변수(global variable)는 전체코드에서 전역의 영역안에서 사용가능하고
#지역변수(local variable)은 선언한 함수 안에서만 사용가능하다
def n_plus_1(n):
    result=n+1
    n_plus_1(3)
    print(result)
    
# 위에껀 프린트가 불가능하니 밑에 수정해봄    

def n_plus_1(n):
    result=n+1
    return result
res =n_plus_1(3)
print(res)

#  or

num =3 #전역변수

def n_plus_1():
    global num
    result=num+1
    return result

def m_plus_2(n):
    result=n+2
    return result

res=n_plus_1()
print(res)

4
4

In [64]:
#232
def make_url(string) :
    return "www." + string + ".com"

In [72]:
#233
def make_list (string) :
    return list(string)

In [66]:
#234
def pickup_even(items):
    result = []
    for item in items:
        if item % 2 == 0:
            result.append(item)
    return result

In [74]:
#235
def convert_int (string) :
    return int(string.replace(',', '')) # ,를 제거하고 인트로 바꿈

In [75]:
#236
def fun(num) : 
    return num + 4 
a = fun(10) 
b = fun(a) 
c = fun(b) 
print(c)

22

In [81]:
#237
def fun(num) : 
    return num + 4 
c = fun(fun(fun(10))) 
print(c)

22

In [80]:
#238
def fun1(num) : 
    return num + 4 
def fun2(num) : 
    return num * 10 
a = fun1(10) 
c = fun2(a) 
print(c)

140

In [83]:
#239
def fun1(num) : 
    return num + 4 
def fun2(num) : 
    num = num + 2 
    return fun1(num) 
c = fun2(10) 
print(c)

16

In [84]:
#240
def fun0(num) : 
    return num * 2 
def fun1(num) : 
    return fun0(num + 2) 
def fun2(num) : 
    num = num + 10 
    return fun1(num) 
c = fun2(2) 
print(c)

28

In [87]:
#241
import datetime
now=datetime.datetime.now()
print(now)

2021-10-19 11:22:31.415475

In [90]:
#242
import datetime
now=datetime.datetime.now()
print(now,type(now))

2021-10-19 11:33:14.768618 <class 'datetime.datetime'>

In [91]:
#243
import datetime
now=datetime.datetime.now()
for day in range(5, 0, -1):
    delta = datetime.timedelta(days=day)
    date = now - delta
    print(date)

2021-10-14 11:34:46.182243
2021-10-15 11:34:46.182243
2021-10-16 11:34:46.182243
2021-10-17 11:34:46.182243
2021-10-18 11:34:46.182243

In [92]:
#244
import datetime
now = datetime.datetime.now()
print(now.strftime("%H:%M:%S"))

11:35:09

In [99]:
#245
import datetime
day = "2020-05-04"
ret = datetime.datetime.strptime(day, "%Y-%m-%d")
print(ret, type(ret))

2020-05-04 00:00:00 <class 'datetime.datetime'>

In [1]:
#246
import time
import datetime

while True:
    now = datetime.datetime.now()
    print(now)
    time.sleep(1)

2021-10-19 11:41:20.740790
2021-10-19 11:41:21.748587
2021-10-19 11:41:22.751474
2021-10-19 11:41:23.767002
2021-10-19 11:41:24.782599
2021-10-19 11:41:25.798212
2021-10-19 11:41:26.809608
2021-10-19 11:41:27.816856
2021-10-19 11:41:28.828154
2021-10-19 11:41:29.833310
2021-10-19 11:41:30.848837
2021-10-19 11:41:31.849883
2021-10-19 11:41:32.850501
2021-10-19 11:41:33.865284
2021-10-19 11:41:34.866297
2021-10-19 11:41:35.881788
2021-10-19 11:41:36.883748
2021-10-19 11:41:37.898966
2021-10-19 11:41:38.899323
2021-10-19 11:41:39.914846
2021-10-19 11:41:40.915850
2021-10-19 11:41:41.916715
2021-10-19 11:41:42.930826
2021-10-19 11:41:43.932416
2021-10-19 11:41:44.947944
2021-10-19 11:41:45.950694
2021-10-19 11:41:46.965241
2021-10-19 11:41:47.965598
2021-10-19 11:41:48.965842
2021-10-19 11:41:49.967031
2021-10-19 11:41:50.981329
2021-10-19 11:41:51.982533
2021-10-19 11:41:52.983454
2021-10-19 11:41:53.997813
2021-10-19 11:41:54.998087
2021-10-19 11:41:56.013661
2021-10-19 11:41:57.014913
2021-10-19 11:41:58.015843
2021-10-19 11:41:59.030229
2021-10-19 11:42:00.039319
2021-10-19 11:42:01.045112
2021-10-19 11:42:02.060578
2021-10-19 11:42:03.063176
2021-10-19 11:42:04.072839
2021-10-19 11:42:05.080690
2021-10-19 11:42:06.093578
2021-10-19 11:42:07.103401
2021-10-19 11:42:08.103589
2021-10-19 11:42:09.114894
2021-10-19 11:42:10.130445
2021-10-19 11:42:11.139249
2021-10-19 11:42:12.149439
2021-10-19 11:42:13.155240
2021-10-19 11:42:14.165455
2021-10-19 11:42:15.175873
2021-10-19 11:42:16.186963
2021-10-19 11:42:17.191195
2021-10-19 11:42:18.193555
2021-10-19 11:42:19.200037
2021-10-19 11:42:20.202089
2021-10-19 11:42:21.203108
2021-10-19 11:42:22.215619
2021-10-19 11:42:23.221074
2021-10-19 11:42:24.229359
2021-10-19 11:42:25.241024
2021-10-19 11:42:26.255937
2021-10-19 11:42:27.267380
2021-10-19 11:42:28.294258
2021-10-19 11:42:29.299550
2021-10-19 11:42:30.304299
2021-10-19 11:42:31.305090
2021-10-19 11:42:32.312382
2021-10-19 11:42:33.315179
2021-10-19 11:42:34.318588
2021-10-19 11:42:35.319964
2021-10-19 11:42:36.334024
2021-10-19 11:42:37.339404
2021-10-19 11:42:38.342461
2021-10-19 11:42:39.349437
2021-10-19 11:42:40.350517
2021-10-19 11:42:41.357946
2021-10-19 11:42:42.358967
2021-10-19 11:42:43.364478
2021-10-19 11:42:44.366692
2021-10-19 11:42:45.370871
2021-10-19 11:42:46.373068
2021-10-19 11:42:47.375630
2021-10-19 11:42:48.380040
2021-10-19 11:42:49.384293
2021-10-19 11:42:50.387130
2021-10-19 11:42:51.399603
2021-10-19 11:42:52.404288
2021-10-19 11:42:53.411620
2021-10-19 11:42:54.418160
2021-10-19 11:42:55.418331
2021-10-19 11:42:56.420910
2021-10-19 11:42:57.423885
2021-10-19 11:42:58.435325
2021-10-19 11:42:59.444016
2021-10-19 11:43:00.452335
2021-10-19 11:43:01.465851
2021-10-19 11:43:02.470912
2021-10-19 11:43:03.486015

KeyboardInterrupt:

In [2]:
#248
import os
ret = os.getcwd()
print(ret, type(ret))

C:\Users\USER\PProject <class 'str'>

In [ ]:
#250
import numpy
for i in numpy.arange(0, 5, 0.1):
    print(i)

In [10]:
#252~259
class Human:
    def __init__(self,name,age,sex):
        self.name=name
        self.age= age
        self.sex=sex
        
    def __del__(self):  #소멸자
        print("나의 죽음을 알리지 말라")
        
    def who(self):
        print("이름: {}, 나이: {}, 성별: {}".format(self.name,self.age,self.sex))
    
    def setInfo(self,name,age,sex):
        self.name=name
        self.age=age
        self.sex=sex
        
areum=Human("아름",25,"여자")
del(areum)

나의 죽음을 알리지 말라

In [11]:
#261
class Stock:
    pass

In [14]:
#262
class Stock:
    def __init__(self,name,code):
        self.name=name
        self.code=code
        
ss = Stock("삼성전자", "005930")   
print(ss.name)
print(ss.code)

삼성전자
005930

In [24]:
#263
class Stock:
    def __init__(self,name,code):
        self.name=name
        self.code=code
        
    def set_name(self,name):
        set_name=name
        
a = Stock(None, None) 
a.set_name("삼성전자") 
print(a.name)

None

In [25]:
#264
class Stock:
    def __init__(self,name,code):
        self.name=name
        self.code=code
    
    def set_name(self,name):
        set_name=name
        
    def set_code(self,code):
        set_code=code
        
a = Stock(None, None) 
a.set_code("005930") 
print(a.code)

None

In [31]:
#265
class Stock:
    def __init__(self,name,code):
        self.name=name
        self.code=code
        
    def set_name(self,name):
        set_name=name
        
    def set_code(self,code):
        set_code=code
        
    def get_name(self):
        return self.name
        
    def get_code(self):
        return self.code
        
ss = Stock("삼성전자", "005930") 
print(ss.name)
print(ss.code)
print(ss.get_name())
print(ss.get_code())

삼성전자
005930
삼성전자
005930

In [39]:
#266
class Stock:
    def __init__(self, name, code, per, pbr, 배당수익률):
        self.name = name
        self.code = code
        self.per = per
        self.pbr = pbr
        self.배당수익률 = 배당수익률

    def set_name(self, name):
        self.name = name

    def set_code(self, code):
        self.code = code

    def get_name(self):
        return self.name

    def get_code(self):
        return self.code

In [40]:
#267
ss = Stock("삼성전자", "005930", 15.79, 1.33, 2.83)
print(ss.배당수익률)

2.83

In [41]:
#268
class Stock:
    def __init__(self, name, code, per, pbr, dividend):
        self.name = name
        self.code = code
        self.per = per
        self.pbr = pbr
        self.dividend = dividend

    def set_name(self, name):
        self.name = name

    def set_code(self, code):
        self.code = code

    def get_name(self):
        return self.name

    def get_code(self):
        return self.code

    def set_per(self, per):
        self.per = per

    def set_pbr(self, pbr):
        self.pbr = pbr

    def set_dividend(self, dividend):
        self.dividend = dividend

In [43]:
#269
ss = Stock("삼성전자", "005930", 15.79, 1.33, 2.83)
ss.set_per(12.75)
print(ss.per)

12.75

In [45]:
#270
list = []

ss = Stock("삼성전자", "005930", 15.79, 1.33, 2.83)
hd = Stock("현대차", "005380", 8.70, 0.35, 4.27)
lg = Stock("LG전자", "066570", 317.34, 0.69, 1.37)

list.append(ss)
list.append(hd)
list.append(lg)

for i in list:
    print(i.code, i.per)        # i-> Stock 클래스의 객체를 바인딩하기 때문

005930 15.79
005380 8.7
066570 317.34

In [46]:
#271
import random

class Account:
    def __init__(self, name, balance):
        self.name = name
        self.balance = balance
        self.bank = "SC은행"
        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)

        num1 = str(num1).zfill(3)      # 1 -> '1' -> '001'
        num2 = str(num2).zfill(2)      # 1 -> '1' -> '01'
        num3 = str(num3).zfill(6)      # 1 -> '1' -> '0000001'
        self.account_number = num1 + '-' + num2 + '-' + num3  # 001-01-000001

kim = Account("김민수", 100)
print(kim.name)
print(kim.balance)
print(kim.bank)
print(kim.account_number)

김민수
100
SC은행
322-95-473190

In [48]:
#272
import random

class Account:
    
    account_count=0
    
    def __init__(self, name, balance):
        self.name = name
        self.balance = balance
        self.bank = "SC은행"
        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)

        num1 = str(num1).zfill(3)      # 1 -> '1' -> '001'
        num2 = str(num2).zfill(2)      # 1 -> '1' -> '01'
        num3 = str(num3).zfill(6)      # 1 -> '1' -> '0000001'
        self.account_number = num1 + '-' + num2 + '-' + num3  # 001-01-000001
        
        Account.account_count+=1

kim = Account("김민수", 100)
print(Account.account_count)
lee=Account("이민수",100)
print(Account.account_count)

1
2

In [85]:
#281
class Car:
    def __init__(self, wheel,price):
        self.wheel=wheel
        self.price=price
        
    def info(self):
        print(car.wheel)
        print(car.price)
        
    def run(self):
        print("자동차가 달린다")
        
car=Car(2,1000)
print(car.wheel)
print(car.price)by=Bycycle(4,1000,'yes')

2
1000

In [86]:
#285~290
class Bycycle(Car):
    def __init__(self, wheel,price,auto):
        super().__init__(wheel,price)
        self.auto=auto

    def info(self): #오버라이딩
        print(car.wheel)
        print(car.price)
        print(car.auto)
        
    def run(self):
        if self.auto=='yes':
            print('자동으로 달린다')
        else:
            print("수동으로 달린다")
        
by=Bycycle(4,1000,'yes')
by.run()
by.info()

by2=Bycycle(4,1000,'no')
by2.run()

자동으로 달린다
2
1000

AttributeError: 'Car' object has no attribute 'auto'